Repository pt232/pawn-game: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["npm run format", "npm run lint"],
  "*.{json,md}": "npm run format"
}

chore(vscode): add vscode settings and extension recommendations
  .vscode/extensions.json
  .vscode/settings.json
Due: npm run format

chore(eslint): add stricter eslint config for next
  .eslintrc.json
Due: npm run format

chore(github): add issue templates based on issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/other.yml
Due: none

chore(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: npm run format

chore(dependabot): add dependabot config file for dependency updates
  .github/dependabot.yml
Due: none

chore(tailwind): add prettier-plugin-tailwindcss for class sorting
  package-lock.json
  package.json
Due: npm run format

docs(license): add MIT license
  LICENSE
Due: none

refactor(document): remove custom document and add lang attribute with next config file
  .lintstagedrc.js
  .lintstagedrc.json
  next.config.js
  pages/_document.tsx
  pages/index.tsx
Due: npm run format, npm run lint

test(cypress): add cypress for e2e tests
  cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: npm run format, npm run lint

ci: add integration pipeline with cypress tests
  .github/workflows/ciy.yml
  package.json
Due: npm run format

ci: make the server run in the background to continue with the next step
  .github/workflows/ci.yml
Due: none

feat(board): add board with tiles
  components/board.tsx
  components/tile.tsx
  pages/index.tsx
  styles/globals.css
  tailwind.config.js
Due: npm run format, npm run lint

feat(board): add pieces
  components/board.tsx
  components/tile.tsx
  package-lock.json
  package.json
  public/images/black-pawn.png
  public/images/white-pawn.png
Due: npm run format, npm run lint

feat(board): add tile annotations
  components/board.tsx
  components/tile.tsx
Due: npm run format, npm run lint

feat(home-page): add heading with custom font
  components/tile.tsx
  pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint

feat(home-page): add sub heading
  components/tile.tsx
  pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint

feat(button): add basic button component with default variants
  .vscode/settings.json
  components/ui/button.tsx
  package-lock.json
  package.json
  pages/index.tsx
  styles/globals.css
  tailwind.config.js
Due: npm run format, npm run lint

feat(board): add finish line
  components/board.tsx
  components/tile.tsx
  tailwind.config.js
Due: npm run format, npm run lint

chore(storybook): add storybook to the project
  .gitignore
  .prettierignore
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: npm run format, npm run lint

feat(storybook): add story for button component
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  components/ui/button.stories.tsx
  components/ui/button.tsx
  package-lock.json
  package.json
Due: npm run format, npm run lint

fix(storybook): remove next/font package to savely load the montserrat font
  next.config.js
  pages/_document.tsx
  pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint

refactor(button): rename variant prop
  components/ui/button.stories.tsx
  components/ui/button.tsx
Due: npm run format, npm run lint

feat(button): add other variants with storybook
  components/ui/button.stories.tsx
  components/ui/button.tsx
  pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint

feat(dialog): add basic dialog
  components/ui/button.stories.tsx
  components/ui/button.tsx
  components/ui/dialog.stories.tsx
  components/ui/dialog.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: npm run format, npm run lint

feat(dialog): add button to open dialog inside the story
  components/ui/dialog.stories.tsx
  components/ui/dialog.tsx
  pages/index.tsx
Due: npm run format, npm run lint

feat(home-page): restructured home page layout
  components/tile.tsx
  components/ui/button.tsx
  pages/index.tsx
  tailwind.config.js
Due: npm run format, npm run lint

feat(page-header): add page header with a logo
  components/page-header.tsx
  pages/_document.tsx
  pages/index.tsx
  public/logo.svg
  styles/globals.css
Due: npm run format, npm run lint

feat(about): add an about dialog
  components/page-header.tsx
  components/ui/dialog.stories.tsx
  components/ui/dialog.tsx
  tailwind.config.js
Due: npm run format, npm run lint

feat(how-to-play): add how to play section based on card component
  components/ui/card.stories.tsx
  components/ui/card.tsx
  components/ui/dialog.stories.tsx
  components/ui/dialog.tsx
  pages/index.tsx
Due: npm run format, npm run lint

refactor(dialog): remove div wrapper inside dialog
  components/page-header.tsx
  components/ui/dialog.tsx
Due: npm run format, npm run lint

feat(accordion): add faq with accordion components
  components/ui/accordion-item.stories.tsx
  components/ui/accordion-item.tsx
  pages/index.tsx
Due: npm run format, npm run lint

feat(start-dialog): add dialog to start a game
  components/ui/dialog.tsx
  components/ui/input.stories.tsx
  components/ui/input.tsx
  pages/index.tsx
Due: npm run format, npm run lint

fix(accordion): chevron rotation
  components/ui/accordion-item.tsx
Due: npm run format, npm run lint

feat(clock): add clock component to the board
  components/board.tsx
  components/clock.tsx
Due: npm run format, npm run lint

feat(player-info): add player info card to the board
  components/board.tsx
  components/clock.tsx
  components/player-info.tsx
  components/tile.tsx
  components/ui/dialog.tsx
  public/images/player-image.svg
Due: npm run format, npm run lint

feat(document): add a favicon and title
  pages/_document.tsx
  pages/index.tsx
  public/favicon.ico
Due: npm run format, npm run lint

feat(home-page): add subtitle
  pages/index.tsx
Due: npm run format, npm run lint

chore(components): restructure the component folder
  components/game/board.tsx
  components/game/clock.tsx
  components/game/player-info.tsx
  components/game/tile.tsx
  components/ui/accordion-item/accordion-item.stories.tsx
  components/ui/accordion-item/accordion-item.tsx
  components/ui/accordion-item/index.ts
  components/ui/button/button.stories.tsx
  components/ui/button/button.tsx
  components/ui/button/index.ts
  components/ui/card/card.stories.tsx
  components/ui/card/card.tsx
  components/ui/card/index.ts
  components/ui/dialog/dialog.stories.tsx
  components/ui/dialog/dialog.tsx
  components/ui/dialog/index.ts
  components/ui/input/index.ts
  components/ui/input/input.stories.tsx
  components/ui/input/input.tsx
  pages/index.tsx
Due: npm run format, npm run lint

feat(about-dialog): add a seperate about dialog
  components/dialog/AboutDialog.tsx
  components/page-header.tsx
Due: npm run format, npm run lint

feat(start-dialog): add a separate component for the start dialog
  components/dialog/about-dialog.tsx
  components/dialog/start-dialog.tsx
  components/page-header.tsx
  pages/index.tsx
Due: npm run format, npm run lint
